# Reading the data the easy way

## Package installation and imports

In [1]:
!pip install -U -q datalearn19intro

In [2]:
from datalearn19intro import (get_accounts, get_events, get_subscriptions, get_users)

## Reading the data

In [3]:
acc = get_accounts()

In [5]:
acc.head(3)

,account_id,marketing_source,marketing_referrer,created_at,plan_id,trial_start,started_plan_at,signup_box_origin,churn_state,churn_date,...,utm_cluster_id,pricing_version,has_domain,mrr,lead_score,industry.1,team_size,user_goal,user_description,sub_industry
0,2793496,bing,https://www.bing.com/search?q=basecamp login,2019-01-01,NaN,2019-01-01,NaN,NaN,none,NaN,...,orders,3,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2793497,NaN,NaN,2019-01-01,NaN,2019-01-01,NaN,mobile_app,none,NaN,...,NaN,3,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2793498,adwordsverticals,https://www.google.com/,2019-01-01,NaN,2019-01-01,NaN,NaN,none,NaN,...,todos,3,0,NaN,0,Other,1,NaN,NaN,NaN

In [6]:
events = get_events()

In [8]:
events.head(3)

,DATE,user_id,account_id,total_events,column_events,board_events,num_of_boards,count_kind_columns,raw_events,group_events,...,new_entry_events,payment_events,inbox_events,communicating_events,non_communicating_events,web_events,ios_events,android_events,desktop_app_events,empty_events
0,2019-01-01,6181915,2793790,212,30,1,1,4,14,0,...,1,0,1,4,58,201,0,0,0,9
1,2019-01-01,6182266,2793900,207,0,0,0,0,0,0,...,1,0,0,0,1,0,189,0,0,8
2,2019-01-01,6182190,2793860,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
subs = get_subscriptions()

In [10]:
subs.head(3)

,event_date,account_id,plan_id,event_type,invoice_charge_amount,prev_plan_id,status,status_reason,currency,invoice_charge_amount_usd,mrr_gain,subscription_id,next_charge_date,payment_type,transaction_date
0,2019-01-07,2793955,199,CHARGE,64.0,NaN,NaN,NaN,AUD,44.67,46.0,65984302.0,2019-02-07 21:05:00,CC,2019-01-07 21:05:00
1,2019-05-07,2793955,199,RECURRING,64.0,199.0,NaN,NaN,AUD,43.94,0.0,65984302.0,2019-06-07 20:05:00,CC,2019-05-07 20:34:00
2,2019-03-07,2793955,199,RECURRING,64.0,199.0,NaN,NaN,AUD,44.20,0.0,65984302.0,2019-04-07 20:05:00,CC,2019-03-07 21:33:00

In [11]:
users = get_users()

In [12]:
users.head(3)

,account_id,user_id,created_at,is_admin,pending,enabled,became_active_at,time_diff,city,region,...,browser,is_gmail,campaign_id,first_user_in_account_id,LANGUAGE,gender,seniority,title,mobile_activation_date,has_phone
0,2793496,6181341,2018-12-31,1,0,1,2019-01-01,11.0,Warrawee,New South Wales,...,microsoft edge,1,4005514.0,29837820.0,NaN,M,NaN,NaN,NaN,1
1,2793497,6181339,2018-12-31,1,0,1,2019-01-01,-5.0,Old Bridge,New Jersey,...,NaN,1,4005516.0,29837847.0,NaN,F,NaN,NaN,2019-01-01,1
2,2793497,6181386,2019-01-01,0,0,1,2019-01-01,-5.0,New York,New York,...,NaN,1,4005619.0,29839571.0,NaN,M,NaN,NaN,2019-01-01,1